<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.BoardMapper">
  <insert id="writeOk" parameterType="com.example.board.BoardDto">
    insert into board(title, name, pwd, content, sung, hobby, juso, writeday)
    value(#{title},#{name},#{pwd},#{content},#{sung},#{hobby},#{juso},now())
  </insert>

  <select id="list" resultType="com.example.board.BoardDto">
    <!-- list에서 받은 값의 결과는 resultType에서 받아옴 -->
    select * from board
    order by id desc
    limit #{index}, 10  <!--limit 인덱스, 레코드 수-->
  </select>

  <update id="readnum">
    <!-- 실행될 때마다 조회수 1 증가 -->
    update board
    set readnum=readnum+1  
    where id=#{id}
  </update>

  <select id="content" resultType="com.example.board.BoardDto">
    <!-- list에서 받은 값의 결과는 resultType에서 받아옴 -->
    select * from board
    where id=#{id}
  </select>

  <select id="update" resultType="com.example.board.BoardDto">
    select * from board
    where id=#{id}
  </select>

  <update id="updateOk" parameterType="com.example.board.BoardDto">
    <!-- 실행될 때마다 조회수 1 증가 -->
    update board
    set title=#{title}, name=#{name}, content=#{content}, sung=#{sung}, hobby=#{hobby}, juso=#{juso}
    where id=#{id}
  </update>

  <delete id="delete">
    delete from board
    where id=#{id}
  </delete>

  <select id="getChong" resultType="Integer">
    select ceil(count(*)/10)  <!-- ceil 올림 -->
    from board
  </select>
</mapper>