<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.BoardMapper">
  <!-- 글작성 -->
  <insert id="writeOk" parameterType="com.example.board.BoardDto" 
        useGeneratedKeys="true"
        keyProperty="id">
    insert into board(title, name, content, writeday)
    values(#{title}, #{name}, #{content}, now())
  </insert>

  <!-- 글상세 -->
  <select id="view" resultType="com.example.board.BoardDto">
    select * from board
    where id=#{id}
  </select>

  <!-- 조회수 -->
  <update id="postReadnum">
    update board
    set readnum=readnum+1
    where id=#{id}
  </update>

  <!-- 글목록 -->
  <select id="list" resultType="com.example.board.BoardDto">
    select * from board
    order by id desc
  </select>
</mapper>